

.conteiner-det{
    margin: 50px;
    h2{
        color: #564E4E;
        margin-bottom: 10px;
    }
.card{
  box-sizing: border-box;
width: 425px;
height: 280px;
background: rgba(255, 255, 255, 0.2);
padding: 10px;
cursor: pointer;
margin: 5px;
}
.card:hover{
  box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
  border: 1px solid #FADCD9;
border-radius: 10px;
}
}

.card-conteiner{
    display: flex;
}

.info{
  color: #F79489;
}

@media only screen and (max-width: 700px){
  .conteiner-det{
    .card-conteiner{
      display: block;
  }
  .card{
  width: 300px;
  height: 200px;

  }
  }
}